body{
    background-color: #159479;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 50vh;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow:10px 10px 15px #188876;
    padding: 30px 60px 150px 60px;
    position: relative;
    overflow: hidden;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    color: #000101;
}

.icon{
    border: 1px solid #DCDCDC;
    border-radius: 30px;
    padding: 8px;
    background-color: #FFFFFF;
    }
    
      .icon:hover {
        color: #E1E1E1;
        box-shadow: 0 0 0px 4px #F0F0F0;
        cursor: pointer;
      }
.appreciation{
    font-size: 14px;
    color: #9E9E9E;
    font-weight: 600;
    display: flex;
    align-items: center;  
}
.package{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #54504B;
    font-size: 15px;
    font-weight: 600;
}

.total{
    color: #505152;
    font-size: 19px;
    font-weight: 600;
}
.first-package-price,.second-package-price,.total-price{
    color: #000101;
    font-size: 19px;
    font-weight: 700;
}
.bicycle-image{
    height:90% ;
    width: 100%;
    position: absolute;
    top: 42%;
    left: 0%;
}
